*{
	box-sizing:border-box;

	}

a {
	text-decoration: none
}

body {

}

.

/*

オレンジ:#FF6A25
青:#164690
赤:#F03636
緑:#28BE2F
紺:#000435



*/

/******************************header******************************/

.header{
	width:87.5%;
	border:2px solid rgba(240, 240, 240);
	position:absolute;
	top:0px;
	left:12.5%;
	position:relative;
}

.header h1{
	font-size:20px;
	padding:25px 60px;
	color:#000435;

}

.logout{
	position:absolute;
	top:0px;
	right:0px;
	background-color:rgba(0, 4, 53, 0.4);



}

.logout p {
	padding:27.5px 40px;
	font-size:15px;
	color:#ffffff;

}

.menu_icon{
	background-color:#000435;
	width:56px;
	height:56px;
	position:absolute;
	right:0px;
	top:0px;
	display:flex;
	display:none;

}

.menu_icon img {
	background-color:#000435;
	width:32px;
	height:32px;
	align-items:center;
}

.menu {
	width:100%;
	height:auto;
	position:absolute;
	left:0px;
	top:56px;
	background-color:rgba(0,4,53,1);
	display:none;

}

.menu ul li {
	width:100%;
	display:block;
	padding-left:10%;
	color:#ffffff;
	font-size:12.5px;
	padding-top:20px;
	padding-bottom:20px;
}

.menu img {
	width:15px;
	height:15px;
	margin-right:10px;
	vertical-align:middle;

}















/******************************Login******************************/


.login{
	box-sizing:border-box;
	/*background-image:url(../images/sky.jpeg);
	background-size:cover;
	background-position:50% 25%;
*/}

.login_wrapper{
	position:relative;
}

.login_box{
	width:500px;
	height:500px;
	margin:auto;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background-color:rgba(255, 255, 255,0.25);
	border-top-left-radius: 10px;
  	border-top-right-radius: 10px;
  	border-bottom-right-radius: 10px;
  	border-bottom-left-radius: 10px;
}


.login_logo {
	width:100%;
	height:100px;
	text-align:center;
	margin-top:20px;
	margin-bottom:20px;
}
.login_logo p {

}


.login_logo img {
	width:25%;
	height:100px;

}

.login_text {
	width:70%;
	text-align:center;
	margin-top:50px;
	margin-right:15%;
	margin-left:15%;
	margin-bottom:60px;
}


.login_value {
	text-align:center;
	margin-top:40px;
	margin-bottom:40px;
	margin-right:20%;
	margin-left:20%;
	width:60%;
}

.login_value input {
	width:100%;
	background:transparent;
	border:none;
	border-bottom:solid 2px rgba(217,217,217,0.8);
	padding:6px 0px;
	font-size:16px;
}

.login_value input[type="text"]:focus {
	border-bottom: 2px solid rgba(0, 4, 53, 0.8);
	outline: none;
	}

.login_value input[type="password"]:focus {
	border-bottom: 2px solid rgba(0, 4, 53, 0.8);
	outline: none;
	}



.error{
	color:#FF2929;
	font-size:12.5px;
}

.to_pass_reset{
	text-align:right;
	color:#164690;
	margin-top:30px;
	font-size:10px;
}

.to_pass_reset a {
	text-decoration:none;

}






.bottom_p{
	text-align:center;
}


.bottom_btn_1 {
	width:60%;
	/*background-color:#000435;*/
	border:solid 3px #000435;
	color:#ffffff;
	border-top-left-radius: 15px;
  	border-top-right-radius: 15px;
  	border-bottom-right-radius: 15px;
  	border-bottom-left-radius: 15px;
  	padding:10px 5px;
  	/*border-bottom:solid 3px #677695;*/
  	margin-bottom:20px;
  	font-size:12.5px;
  	color:#000435;
  	font-weight:bold;

}

.bottom_btn_1:hover {
	background-color:#000435;
	color:#ffffff;

}



.bottom_btn_2 {
	width:40%;
	border:1px solid #000000;
	padding:10px 5px;
	margin:auto;
	color:#FF3E27;
	font-size:12.5px;
}
.bottom_btn_2 a {
	text-decoration:none;
	color:#FF3E27;
}

.bottom_btn_2:hover {
	opacity:0.5;
}

.bottom_btn_3 {
	width:60%;
	text-align:center;
	/*background-color:#FF6A25;*/
	border:3px solid #FF6A25;
	border-top-left-radius: 15px;
  	border-top-right-radius: 15px;
  	border-bottom-right-radius:15px;
  	border-bottom-left-radius:15px;
  	/*padding:12.5px 5px;*/
  	margin:auto;
  	/*border-bottom:solid 3px #677695;*/
  	font-weight:bold;
  	padding:12.5px 5px;


}
.bottom_btn_3:hover {
	/*background-color:#FF6A25;
	color:#ffffff;
*/

}

.bottom_btn_3 a {
	text-decoration:none;
	color:#FF6A25;
	font-size:12.5px;
}




/******************************sidebar******************************/

.sidebar{
	width:15%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:100;
	background-color:rgba(0,4,53,0.4);
	background-image:url(../images/bonfire.jpeg);
	background-size:cover;
	background-position:center center;
}

.sidebar_bg{
	height:100%;
	background-color:rgba(0,4,53,0.6);
}



.sidebar img {
	width:15px;
	height:15px;
	margin-right:10px;
	vertical-align:middle;
}
.sidebar_contents{
	padding-top:100px;

}
.sidebar ul li {
	width:100%;
	display:block;
	padding-left:10%;
	color:#ffffff;
	font-size:12.5px;
	padding-top:20px;
	padding-bottom:20px;
}

.sidebar ul li:hover {
	background-color:rgba(255,255,255,0.3);
}


/******************************list******************************/




.list_wrapper {
	box-sizing:border-box;
	padding-bottom:50px;
	padding-top:0px;
	background-color:rgba(255,255,255,0);
}


.list_bg{
	width:80%;
	margin-right:12.5%;
	margin-left:17.5%;
	height:auto;
	padding-bottom:70px;
	padding-top:20px;
	background-color:rgba(255,255,255,0);
	position:relative;
}

.list_search{
	width:40%;
	margin-right:15%;
	margin-left:5%;
	height:50px;
	background-color:rgba(240,240,240,0.9);
	margin-bottom:40px;
	margin-top:40px;
	position:relative;
}

.list_search img {
	width:30px;
	height:30px;
	position:absolute;
	right:15px;
	top:10px;


}

.list_style {
	width:90%;
	margin-right:5%;
	margin-left:5%;
	box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
}


.list_style ul li {
	display:inline-block;
	text-align:center;
}


.list_title{
	padding:15px 10px;
	background-color:#ffffff;
	border-bottom:3px solid #000435;
	color:#000000;
	font-weight:bold;
	border-top-left-radius: 10px;
  	border-top-right-radius: 10px;
}

.list_data{
	padding:35px 10px;
	background-color:#ffffff;
	border-bottom:rgba(240,240,240,0.7);
	border-bottom-right-radius: 5px;
  	border-bottom-left-radius: 5px;
  	font-size:16px;
}




.list_btn_1{
	width:80px;
	border-top-left-radius: 5px;
  	border-top-right-radius: 5px;
  	border-bottom-right-radius: 5px;
  	border-bottom-left-radius: 5px;
  	background-color:#D9D9D9;
  	padding:10px 5px;
  	font-size:12px;
  	border-bottom:solid 3px #677695;
  }

.list_btn_1:active {
	border-bottom:none;
	transform:translateY(4px);
	-ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
}


.list_btn_2 {
	width:100px;
}


.list_btn_1 a {
	text-decoration:none;
	color:#000000;
}
.list_blank {
	width:10%;

}
.list_row{
	width:30%;
	margin-left:40px;
}

.list_row_2 {
	width:25%;
}
.list_row_3{
	width:17%;
}

.list_row_4{
	width:14%;
}




.display_status{
	width:30%;
	margin:5px 0px;

}

.display_status_2{
	width:14%;
}

.display_status span{
	width:60%;
	padding:5px 15px;
	margin:5px 0px;
	color:#000000;
}

.display_status_display{
	background-color:rgba(40, 190, 47, 0.5);
}

.display_status_hide{
	background-color:rgba(240, 54, 54, 0.5);

}

.status_new { 
	background-color:rgba(186, 54, 240, 0.5);

}


.create_new_btn{
	position:absolute;
	right:5%;
	top:60px;
	border-top-left-radius: 5px;
  	border-top-right-radius: 5px;
  	border-bottom-right-radius: 5px;
  	border-bottom-left-radius: 5px;
  	background-color:#D9D9D9;
  	border-bottom:solid 3px #677695;
}

.create_new_btn:active {
	border-bottom:none;
	transform:translateY(4px);
	-ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
}


.create_new_btn p {
	padding:15px 50px;
	color:#000000;
}





/******************************form******************************/

.form_wrapper {



}
.form_title {
	width:100%;
	border-bottom:2px #000435 solid;
	margin-bottom:50px;
}
.form_title h1 {
	padding-bottom:20px;
	font-size:1.1em;
}

.form_box {
	width:70%;
	margin-right:15%;
	margin-left:15%;
	margin-top:50px;
	margin-bottom:50px;
	padding:50px;
	height:auto;
	background-color:rgba(240,240,240,0.4);
	border-top-right-radius:15px;
	border-top-left-radius:15px;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:15px;
}

.form_box form {
	margin-bottom:100px;
}

.value_name {
	display:block;
	text-align:left;
	padding-bottom:15px;
}


.form_block {
	margin:20px 0px;
}

.value_group {
	border-left:3px solid #000435;
	padding:0px 3px;
	margin-top:60px;
	margin-bottom:30px;
	font-size:1.1em;
}

.value {
	display:block;
	word-wrap:normal;

}

.value_short_text {
	height:30px;
	width:50%;

}

.value_long_text {
	width:100%;
	height:100px;
}

.bottom_btns {
	width:60%;
	margin-left:20%;
	margin-right:20%;
}

.form_btn {
	border-top-left-radius: 5px;
  	border-top-right-radius: 5px;
  	border-bottom-right-radius: 5px;
  	border-bottom-left-radius: 5px;
  	background-color:#ffffff;
  	display:inline-block;
  	width:16%;
	text-align:center;
  	padding:10px 5px;
  	font-size:10px;
  	margin-right:20px;
}


.form_btn_save:active {
	border-bottom:none;
	transform:translateY(4px);
	-ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
}

.form_btn_back {
	background-color:#ffffff;
	color:#000000;


}

.form_btn_save {
	/*background-color:rgba(255,158,0);*/
	border-bottom:solid 3px #677695;
	background-color:#D9D9D9;
}


/******************************media******************************/



@media(max-width: 900px){

	.sidebar {
		display:none;
		width:0%;
		height:0%;

	}

	.list_wrapper {
		width:100%;
		margin-top:70px;

	}

	.list_bg {
	width:100%;
	margin:0%
	}

	.header {
		width:100%;
		position:absolute;
		left:0px;
		top:0px;


	}


	.list_row{
	width:30%;
	margin-left:30px;
	}


	.logout{
		display:none;

	}

	.header h1{
	font-size:16px;
	padding:20px 60px;
	}


	.menu_icon {
		display:flex;
	}
	.menu_icon img {
		align-items:center;
		margin:auto;
	}

	/*.list_wrapper {
	padding-bottom:50px;
	padding-top:400px;

	}
*/










